<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor=#fa8072>
	<h1>
	<font color="white">
	Inicio de Sesion</h1>
    <form action="#" th:action="@{/login}" th:object="${login}" method="post">
    	<p>Nombre: <input type="text" th:field="*{usuario}" /></p>
        <p>Contraseña: <input type="password" th:field="*{contrasenia}" /></p>
        <p><input type="submit" value="Entrar" /> <input type="reset" value="Resetear" /></p>
    </form>
</body>
</html>